html {
    font-size: 100px; /*640设计稿中:1REM=100PX*/
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    z-index: -3;
}

.loading, .enter, .cube, .swiper {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.music{
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    z-index: 100000;
    background: url(../audio/music.svg) no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}
.musicMove{
    -webkit-animation: move 1s infinite linear both;
    -moz-animation: move 1s infinite linear both;
    -ms-animation: move 1s infinite linear both;
    -o-animation: move 1s infinite linear both;
    animation: move 1s infinite linear both;
}

@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--LOADING--*/
.loading {
    background: url("../img/first.jpg") no-repeat center center;
    background-size: cover;
}

.loading .title {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5.2rem;
    width: 100%;
    height: 1.4rem;
    color: #000;
    text-align: center;
    letter-spacing: .04rem;
    font-family: "\5b8b\4f53", "Arial Narrow";
}

.loading .title h2 {
    margin-top: 4.2rem;
    height: .55rem;
    line-height: .55rem;
    font-size: .5rem;
}

.loading .title h3 {
    margin-top: 0.4rem;
    height: .55rem;
    line-height: .55rem;
    font-size: .35rem;
}

.loading .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: .85rem 0 0 -2.3rem;
    width: 4.6rem;
    height: .3rem;
    background: #FFF;
    border-radius: .06rem;
}

.loading .progress .progressBox {
    width: 0;
    height: 100%;
    border-radius: .06rem;

    background: -webkit-linear-gradient(45deg, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%);
    background: linear-gradient(45deg, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%);
    background-size: .3rem .3rem;

    -webkit-animation: loadingMove 1s linear infinite both;
    animation: loadingMove 1s linear infinite both;

    -webkit-transition: all 1s linear 0s;
    transition: all 1s linear 0s;
}

/*--ENTER--*/
.enter {
    z-index: -2;
    background: url("../img/coverBg.jpg") no-repeat;
    background-size: 100% 100%;

    -webkit-transition: all .5s;
    transition: all .5s;
}

.enter:nth-child(even) {
    -webkit-animation:bounceInUp 1s 0s both;
    animation:bounceInUp 1s 0s both;
}

.enter h2 img{
    position: absolute;
    top: .8rem;
    left: 50%;
    margin-left: -1.75rem;
    width: 3.5rem;
    height: 2rem;
}

#enter h2 img {
    -webkit-animation: bounceInDown 1s 0.2s both;
    animation: bounceInDown 1s 0.2s both;
}

.enter .button {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    margin-left: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid transparent;
    border-radius: 50%;
    background: url("../img/enter.png") no-repeat;
    background-size: 100% 100%;
}

#enter .button {
    -webkit-animation: zoomIn 1s 1s both, enterScale 1.25s 0s infinite both;
    animation: zoomIn 1s 1s both, enterScale 1.25s 0s infinite both;
}

.enter .button div {
    box-sizing: border-box; /*CSS3新增加的一个盒子模型属性:设定容器的宽度就是我们设定的WIDTH和HEIGHT的值，不管以后是否去调节边框和PADDING，整个盒子的宽高是不变的*/
    position: absolute;
    z-index: 5;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

/*--CUBE--*/
.cube {
    perspective: 1000px;
    background: url("../img/cubeBg.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.cube .tip {
    position: absolute;
    top: .5rem;
    left: 50%;
    margin-left: -2rem;
    width: 4rem;
    height: .8rem;
    background: url("../img/cubeTip.png") no-repeat;
    background-size: 100% 100%;
}

.cube .cubeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.55rem 0 0 -2.55rem;
    width: 5.1rem;
    height: 5.1rem;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: scale(0.6) rotateX(-35deg) rotateY(45deg);
    transform: scale(0.6) rotateX(-35deg) rotateY(45deg);

    -webkit-transition: all .3s;
    transition: all .3s;
}

.cube .cubeBox li {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.55rem 0 0 -2.55rem;
    width: 100%;
    height: 100%;
}

.cube .cubeBox li:nth-child(1) {
    background: url("../img/cube1.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translateZ(2.55rem);
    transform: translateZ(2.55rem);
}

.cube .cubeBox li:nth-child(2) {
    background: url("../img/cube5.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotateY(180deg) translateZ(2.55rem);
    transform: rotateY(180deg) translateZ(2.55rem);
}

.cube .cubeBox li:nth-child(3) {
    background: url("../img/cube3.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotateY(90deg) translateZ(2.55rem);
    transform: rotateY(90deg) translateZ(2.55rem);
}

.cube .cubeBox li:nth-child(4) {
    background: url("../img/cube4.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotateY(-90deg) translateZ(2.55rem);
    transform: rotateY(-90deg) translateZ(2.55rem);
}

.cube .cubeBox li:nth-child(6) {
    background: url("../img/cube6.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotateX(-90deg) translateZ(2.55rem);
    transform: rotateX(-90deg) translateZ(2.55rem);
}

.cube .cubeBox li:nth-child(5) {
    background: url("../img/cube2.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotateX(90deg) translateZ(2.55rem);
    transform: rotateX(90deg) translateZ(2.55rem);
}

/*--SWIPER--*/
.swiper .return {
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 1000;
    width: .64rem;
    height: .75rem;
    background: url("../img/return.png") no-repeat;
    background-size: 100% 100%;
}

.swiper-container, .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Microsoft JhengHei;
}

/*个人简介*/
.page1 {
    background: url("../img/bg2.jpeg") no-repeat center center;
    background-size: 100% 100%;
}

.page1 p {
    position: absolute;
    margin-top: 0.5rem;
    top: .57rem;
    left: .64rem;
    width: 5.5rem;
    line-height: .6rem;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    font-family: "microsoft yahei";
    font-size: .35rem;
    opacity: 0;
}

.page1 p span {
    margin-left: 0.64rem;
}

.page1 p:nth-child(2) {
    top: 2.1rem;
    width: 5.5rem;
}

.page1 p:nth-child(3) {
    top: 3.6rem;
    width: 5.5rem;
}

.page1 p:nth-child(4) {
    top: 5.1rem;
    width: 5.5rem;
}

#page1 p:nth-child(1) {
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

#page1 p:nth-child(2) {
    -webkit-animation: bounceInRight 1s 0.2s both;
    animation: bounceInRight 1s 0.2s both;
}

#page1 p:nth-child(3) {
    -webkit-animation: bounceInDown 1s 0.4s both;
    animation: bounceInDown 1s 0.4s both;
}

#page1 p:nth-child(4) {
    -webkit-animation: bounceInUp 1s 0.8s both;
    animation: bounceInUp 1s 0.8s both;
}

/*工作技能*/
.page2 {
    background: url("../img/work.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.page2 h2 {
    position: absolute;
    left: 0;
    top: 1.3rem;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background: rgba(100, 90, 80, 0.8);
    color: #fff;
    font-size: .6rem;
    font-weight: normal;

    opacity: 0;
}

.page2 .box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.4rem 0 0 -2.56rem;
    width: 5.12rem;
    height: 5.8rem;
}

.page2 .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.5rem 0 0 -.5rem;
    width: 1rem;
    height: 1rem;
    opacity: 0;
}

.page2 .box img:nth-child(1) {
    margin: -.85rem 0 0 -.66rem;
    width: 1.32rem;
    height: 1.7rem;
}

#page2 h2 {
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

#page2 .box img:nth-child(1) {
    -webkit-animation: shake 1s both;
    animation: shake 1s both;
}

#page2 .box img:nth-child(2) {
    -webkit-animation: page2Move1 .5s .5s both, page2Shake 1s 1s infinite both;
    animation: page2Move1 .5s .5s both, page2Shake 1s 1s infinite both;
}

#page2 .box img:nth-child(3) {
    -webkit-animation: page2Move2 .5s .5s both, page2Shake 1s 1s infinite both;
    animation: page2Move2 .5s .5s both, page2Shake 1s 1s infinite both;
}

#page2 .box img:nth-child(4) {
    -webkit-animation: page2Move3 .5s .5s both, page2Shake 1s 1s infinite both;
    animation: page2Move3 .5s .5s both, page2Shake 1s 1s infinite both;
}

#page2 .box img:nth-child(5) {
    -webkit-animation: page2Move4 .5s .5s both, page2Shake 1s 1s infinite both;
    animation: page2Move4 .5s .5s both, page2Shake 1s 1s infinite both;
}

#page2 .box img:nth-child(6) {
    -webkit-animation: page2Move5 .5s .5s both, page2Shake 1s 1s infinite both;
    animation: page2Move5 .5s .5s both, page2Shake 1s 1s infinite both;
}

#page2 .box img:nth-child(7) {
    -webkit-animation: page2Move6 .5s .5s both, page2Shake 1s 1s infinite both;
    animation: page2Move6 .5s .5s both, page2Shake 1s 1s infinite both;
}

/*联系方式*/
.page3 {
    background: url("../img/contact.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.page3 h2 {
    position: absolute;
    left: 0;
    top: 1.3rem;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background: rgba(100, 90, 80, 0.8);
    color: #fff;
    font-size: .6rem;
    font-weight: normal;

    opacity: 0;
}

#page3 h2 {
    -webkit-animation: zoomIn 1s 0s both;
    animation: zoomIn 1s 0s both;
}

.page3 .concat {
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -2.5rem;
    width: 5rem;
}

.page3 .concat li {
    margin-bottom: .4rem;
    height: 1.6rem;
    opacity: 0;
}

.page3 .concat li .icon {
    float: left;
    margin-left: -15px;
    width: .98rem;
    height: .98rem;
    border-radius: 50%;
}

.page3 .concat li:nth-child(1) .icon {
    background: url("../img/phone.png") no-repeat;
    background-size: 100% 100%;
}

.page3 .concat li:nth-child(2) .icon {
    background: url("../img/qq.png") no-repeat;
    background-size: 100% 100%;
}

.page3 .concat li:nth-child(3) .icon {
    background: url("../img/Email.png") no-repeat;
    background-size: 100% 100%;
}

.page3 .concat .textCon {
    margin-top: 0.9rem;
    margin-left: -15px;
    padding: .2rem;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    background: rgba(100, 90, 80, 0.8);
    color: #fff;
    font-size: 0.24rem;
}

.page3 .concat .textCon span {
    display: inline-block;
    margin-left: .45rem;
    min-width: .7rem;
    font-size: .35rem;
    vertical-align: bottom;
}

#page3 {
    -webkit-animation:page3Scale 1.4s 1.8s infinite both;
    animation:page3Scale 1.4s 1.8s infinite both;
}

#page3 .concat li:nth-child(1) {
    -webkit-animation: zoomIn 1.4s .5s both;
    animation: zoomIn 1.4s .5s both;
}

#page3 .concat li:nth-child(2) {
    -webkit-animation: zoomIn 1.8s .5s both;
    animation: zoomIn 1.8s .5s both;
}

#page3 .concat li:nth-child(3) {
    -webkit-animation: zoomIn 2.2s .5s both;
    animation: zoomIn 2.2s .5s both;
}

/*自我评价*/
.page4 {
    background: url("../img/bg4.png") no-repeat center center;
    background-size: 100% 100%;
}

.page4 h2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2.5rem;
    padding: .3rem 0;
    width: 5rem;
    height: 1rem;
    color: #000;
    opacity: 0;
}

.page4 h2 span {
    display: inline-block;
    margin: 45px -25px;

}

.page4 h2 span:nth-child(1) {
    height: .85rem;
    line-height: .85rem;
    font-size: .55rem;
}

#page4 h2 {
    -webkit-animation: bounceInDown 1s both;
    animation: bounceInDown 1s both;
}

.page4 p {
    position: absolute;
    margin: 0.5rem;
    text-indent: .7rem;
    top: 2.1rem;
    width: 5.5rem;
    line-height: .6rem;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    font-family: "microsoft yahei";
    font-size: .36rem;
    opacity: 0;

}

#page4 p {
    -webkit-animation: fadeIn 2.5s 0.5s both;
    animation: fadeIn 2.5s 0.5s both;
}

/*教育经历*/
.page5 {
    background: url("../img/study.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.page5 p {
    position: absolute;
    top: .57rem;
    left: .64rem;
    width: 5.5rem;
    line-height: .6rem;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    font-family: "microsoft yahei";
    font-size: .35rem;
    opacity: 0;
    margin-top: 3rem;
}

.page5 p span {
    margin-left: 0.64rem;
}

.page5 p:nth-child(2) {
    top: 2.2rem;
    width: 5.5rem;
}


#page5 p:nth-child(1) {
    -webkit-animation: bounceInLeft 1s both;
    animation: bounceInLeft 1s both;
}

#page5 p:nth-child(2) {
    -webkit-animation: bounceInLeft 1s 0.2s both;
    animation: bounceInLeft 1s 0.2s both;
}



/*兴趣爱好*/
.page6 {
    background: url("../img/live.png") no-repeat center center;
    background-size: cover;
}

.page6 h2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2.5rem;
    padding: .3rem 0;
    width: 5rem;
    height: 1rem;
    border-bottom: .02rem solid rgba(255, 255, 255, 0.5);
    color: #000;
    opacity: 0;
}

.page6 h2 span {
    display: inline-block;
    margin: 20px -5px;
    height: .85rem;
    line-height: .85rem;
    font-size: .55rem;
}

.page6 .concat {
    position: absolute;
    top: 2rem;
    left: 50%;
    margin-left: -3rem;
    width: 5rem;

}
.page6 .concat li{
    opacity: 0;
}
.page6 .concat span{
    transform:rotate(-72deg);
    -ms-transform:rotate(-72deg);
    -moz-transform:rotate(-72deg);
    -webkit-transform:rotate(-72deg);
    -o-transform:rotate(-72deg);
    line-height: 1.5rem;
    font-size: 0.36rem;
    display: inline-block;


}
.page6 .concat div{
    width: 1.5rem;
    height: 1.5rem;
    transform:rotate(72deg);
    -ms-transform:rotate(72deg);
    -moz-transform:rotate(72deg);
    -webkit-transform:rotate(72deg);
    -o-transform:rotate(72deg);


}
.page6 .concat .textCon {
    float: right;
    padding: .2rem;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    font-size: .24rem;
    margin-top: .58rem;


}

.page6 .concat .textCon1 {
    float: right;
    margin-top: .58rem;
    padding: .2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);

}
.page6 .concat .textCon2 {
    float: right;
    margin-top: 0.1rem;
    padding: .2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);

}
.page6 .concat .textCon3 {
    float: right;
    margin-top: 0.08rem;
    padding: .2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);

}

#page6 h2 {
    -webkit-animation: bounceInDown 1s both;
    animation: bounceInDown 1s both;
}

#page6 .concat li:nth-child(1) {
    -webkit-animation: zoomIn 1s .5s both;
    animation: zoomIn 1s .5s both;
}

#page6 .concat li:nth-child(2) {
    -webkit-animation: zoomIn 1s 1.5s both;
    animation: zoomIn 1s 1.5s both;
}
#page6 .concat li:nth-child(3) {
    -webkit-animation: zoomIn 1s 2s both;
    animation: zoomIn 1s 2s both;
}
#page6 .concat li:nth-child(4) {
    -webkit-animation: zoomIn 1s 2.5s both;
    animation: zoomIn 1s 2.5s both;
}
